[Unit]
Description=Rack LED indicator service, booting script
After=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/rack-leds-setup booting

[Install]
WantedBy=sysinit.target
