[Unit]
Description=Rack LED indicator service, shutdown script
Before=shutdown.target reboot.target halt.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/rpi-rack-leds-setup shutdown

[Install]
WantedBy=shutdown.target reboot.target halt.target
