[Unit]
Description=Rack LED indicator service, running script
After=network.target

[Service]
ExecStart=/usr/bin/rack-leds-setup running

[Install]
WantedBy=multi-user.target
