<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="xterm.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <nav>
        <button
          @click="{{showOverview()}}"
          :class="{selected: view === 'overview'}"
        >
          Overview
        </button>
        <button
          v-for="slot in slots"
          @click="{{slot.select()}}"
          class="led"
          :class="{error: !slot.ok, dark: !slot.hasCard, green: slot.powered, selected: slot.selected}"
        >
          <span>{{slot.label}}</span>
        </button>
      </nav>
      <main>
        <div id="overview" v-show="!slot">
          <h1>Overview</h1>
          <div class="panel">
            <div class="widget">
              <div class="label"><label>Voltage</label></div>
              <div class="measurement">{{overview.U.toFixed(1)}} V</div>
            </div>
            <div class="widget">
              <div class="label"><label>Current</label></div>
              <div class="measurement">{{overview.I.toFixed(3)}} A</div>
            </div>
            <div class="widget">
              <div class="label"><label>Power</label></div>
              <div class="measurement">{{overview.P.toFixed(1)}} W</div>
            </div>
            <div class="widget">
              <div class="label"><label>Fans speed</label></div>
              <select v-model="fans.speed" @change="fansSpeedChange()">
                <option v-for="speed in fans.speeds" :value="speed.value">
                  {{speed.label}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="slot" v-if="slot">
          <input class="label" v-model="slot.label" />
          <div class="panel">
            <div class="widget">
              <button
                class="toggle led green"
                :class="{on: slot.powered}"
                :disabled="!slot.hasCard || slot.id === 0"
                @click="{{slot.powerToggle()}}"
              >
                <span>Power</span>
              </button>
            </div>
            <div class="widget">
              <div class="label"><label>Current</label></div>
              <div class="measurement">{{(slot.P / 5).toFixed(2)}} A</div>
            </div>
            <div class="widget">
              <div class="label"><label>Power</label></div>
              <div class="measurement">{{slot.P.toFixed(1)}} W</div>
            </div>
            <div v-if="Number.isInteger(slot.T)" class="widget">
              <div class="label"><label>Temperature</label></div>
              <div class="measurement">{{slot.T}} °C</div>
            </div>
            <div class="widget">
              <button class="toggle led orange">togLed</button>
            </div>
          </div>
        </div>
        <div id="terminal" v-show="slot"></div>
      </main>
    </div>
    <script src="vue.min.js"></script>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="xterm.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="main.js"></script>
  </body>
</html>
